<div class="wrapper wrapper-full-page">
  <div class="page-header pricing-page header-filter" style="background-image: url('./assets/img/valparaiso-fondo.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Bienvenido a Mercado Asiva</h2>
          <h5 class="description">Ven a conocer nuestra red de proveedores y forma parte de nuestra asociación.</h5>
        </div>
      </div>
      <div class="row">
        <a class="btn btn-info btn-lg col-md-4 ml-auto mr-auto" href="http://www.asiva.cl/hazte-socio/asiva/2014-06-17/122021.html#"
          role="button">ÚNETE A NUESTRA ASOCIACIÓN!</a>
      </div>
      <div class="row">
        <div class="card">
          <div class="input-group">
            <input type="text" [(ngModel)]="searchText1" class="form-control" placeholder="    Intenta buscar un producto o servicio...">
            <button mat-raised-button type="submit" id="button-search" (click)="search(searchText1)" class="btn btn-white btn-round btn-just-icon"
              data-toggle="modal" data-target="#noticeModal">
              <i class="material-icons">search</i>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="card card-pricing card-raised">

            <div class="card-body">
              <div class="card-icon icon-black ">
                <i class="material-icons">business</i>
              </div>
              <h3 class="card-title">Empresas</h3>
              <p class="card-description">Actualmente contamos con {{totalEmpresas}} socios.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-pricing card-raised ">

            <div class="card-body">
              <div class="card-icon icon-black ">
                <i class="material-icons">people_outline</i>
              </div>
              <h3 class="card-title">Contactos</h3>
              <p class="card-description">Se han desarrollado {{totalContactos}} contactos en la plataforma.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-pricing card-raised">
            <div class="card-body">
              <div class="card-icon icon-black ">
                <i class="material-icons">local_shipping</i>
              </div>
              <h3 class="card-title">Proveedores</h3>
              <p class="card-description">Mas de {{totalProductos}} productos y servicios listados.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-pricing card-raised ">

            <div class="card-body">
              <div class="card-icon icon-black ">
                <i class="material-icons">monetization_on</i>
              </div>
              <h3 class="card-title">Beneficios</h3>
              <p class="card-description">Obtén beneficios exclusivos por formar parte de ASIVA.</p>
            </div>
          </div>
        </div>

      </div>

    </div>
    <footer class="footer ">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="http://www.asiva.cl/">
                Asiva
              </a>
            </li>

          </ul>
        </nav>
        <div class="copyright pull-left">
          &copy; {{test | date: 'yyyy'}}
        </div>
      </div>
    </footer>
  </div>
</div>

<!-- notice modal -->
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notice">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">¿Que esperas para ser parte de nuestra asociacion?</h5>


      </div>
      <div class="modal-body">

        <div class="card ">
          <div class="card-header ">
            <h4 class="card-title">
              <small class="description"></small>
            </h4>
          </div>
          <div class="card-body ">
            <div class="row">
              <div class="col-md-4">
                <ul class="nav nav-pills nav-pills-rose flex-column" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#link4" role="tablist">
                      Empresas
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                      Consultas
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="tab-content">
                  <div class="tab-pane active" id="link4">
                    <h1 *ngFor="let e of dataBusquedaEmpresa " align="center">
                      {{e.total}}
                    </h1>
                    <br> Empresas que ofrecen los productos que buscaste
                  </div>
                  <div class="tab-pane" id="link5">
                    <h1 *ngFor="let e of dataBusquedaContacto " align="center">
                      {{e.total}}
                    </h1>
                    <br> Consultas realizadas a empresas que ofrecen los productos que buscaste
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button mat-raised-button type="button" class="btn btn-info btn-round" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- end notice modal -->