<!-- Fixed Plugin configurator, used just for Demo Purpose -->
<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown" aria-expanded="true">
            <i class="fa fa-comment fa-3x"> </i>
        </a>
        <ul class="dropdown-menu">
            <span class="bmd-form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="e-mail contacto..." [(ngModel)]="mail.mensaje2"
                        (ngModelChange)="onChange($event)">
                </div>
            </span>
            <label class="bmd-label-floating"> Escríbenos si tienes algún problema o sugerencia.</label>
            <span class="bmd-form-group">
                <div class="input-group">
                    <textarea class="form-control" rows="5" [(ngModel)]="mail.mensaje3"></textarea>
                </div>
            </span>
            <button type="submit" class="btn btn-primary btn-block logBtn" (click)="enviarMailContacto()" [disabled]="!validEmail">ENVIAR</button>


        </ul>
    </div>
</div>