<div class="main-content">
  <div class="container-fluid">
    <div class="container-fluid">
      <div class="header text-center">
        <h3 class="title">Estadísticas de la plataforma</h3>
        
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-rose">
              <div id="roundedLineChart" class="ct-chart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Nuevos Socios</h4>
              <p class="card-category">Socios en el tiempo</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-warning">
              <div id="straightLinesChart" class="ct-chart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title">Uso de la plataforma</h4>
              <p class="card-category">Interacciones dentro de la plataforma</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-chart">
            <div class="card-header card-header-info">
              <div id="simpleBarChart" class="ct-chart"></div>
            </div>
            <div class="card-body">
              <h4 class="card-title ">Productos mas buscados</h4>
              <p class="card-category">Detalle de productos mas buscados cada mes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-md-6">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">insert_chart</i>
              </div>
              <h4 class="card-title ">Consultas dentro de la plataforma</h4>
            </div>
            <div class="card-body">
              <div id="multipleBarsChart" class="ct-chart"></div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="card card-chart">
              <div class="card-header card-header-icon card-header-danger">
                <div class="card-icon">
                  <i class="material-icons">pie_chart</i>
                </div>
                <h4 class="card-title">Giros mas consultados</h4>
              </div>
              <div class="card-body">
                <div id="chartPreferences" class="ct-chart"></div>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="card-category">Leyenda</h6>
                  </div>
                  <div class="col-md-12">
                    <i class="fa fa-circle text-info"></i> Giro 1
                    <i class="fa fa-circle text-warning"></i> Giro 2
                    <i class="fa fa-circle text-danger"></i> Giro 3
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      
    </div>
  </div>
</div>
