<div class="wrapper wrapper-full-page">
  <div class="page-header pricing-page header-filter" style="background-image: url('./assets/img/bg-pricing.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h2 class="title">Bienvenido a Mercado Asiva</h2>
          <h5 class="description">Ven a conocer nuestra red de proveedores y forma parte de nuestra asociacion.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing card-plain">
            <h6 class="card-category"> Socios</h6>
            <div class="card-body">
              <div class="card-icon icon-white ">
                <i class="material-icons">business</i>
              </div>
              <h3 class="card-title">Empresas</h3>
              <p class="card-description">Actualmente contamos con X cantidad de socios.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing card-plain ">
            <h6 class="card-category"> Conexiones</h6>
            <div class="card-body">
              <div class="card-icon icon-white ">
                <i class="material-icons">people_outline</i>
              </div>
              <h3 class="card-title">Contactos en la plataforma</h3>
              <p class="card-description">Se han desarrollado X contactos dentro de nuestra plataforma.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing card-plain">
            <h6 class="card-category">Productos y Servicios</h6>
            <div class="card-body">
              <div class="card-icon icon-white ">
                <i class="material-icons">local_shipping</i>
              </div>
              <h3 class="card-title">Proveedores</h3>
              <p class="card-description">Las empresas registradas ofrecen mas de X productos y servicios.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="card card-pricing card-plain">
            <h6 class="card-category">RED</h6>
            <div class="card-body">
              <div class="card-icon icon-white ">
                <i class="material-icons">public</i>
              </div>
              <h3 class="card-title">Asociate</h3>
              <p class="card-description">Forma parte de nuestra red para buscar la información de nuestros socios y dar a conocer tu empresa.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" value="" class="form-control" placeholder="Intenta buscar un producto o servicio...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>            
          </button>
        </div>
      </div>
    </div>
  </div>
</div>