<div class="row">
  <div class="col-md-7">
    <ng2-cytoscape [elements]="graphData" [layout]="layout" (select)="nodeChange($event)"></ng2-cytoscape>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-header-text card-header-warning">
        <div class="card-text">
          <h4 class="card-title">{{nombre_empresa}}</h4>
          <p class="card-category">

          </p>
        </div>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead class="text-warning">
            <tr>
              <th>Empresa</th>
              <th>Consultas</th>
              <th>Contactar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empresa of hanConsultadoEmpresa">
              <td>{{empresa.nombre_empresa}}</td>
              <td>{{empresa.total}}</td>
              <td>
                <button mat-raised-button type="submit" class="btn btn-rose" (click)="showSwal(e)" matTooltip="Envia un mensaje a esta Empresa"
                  [matTooltipPosition]="'below'">
                  CONTACTAR
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>